// Hire Us, Book Events and Book Studio

.page {
  main{
    text-align: center;
    max-width: $desktop__content-area;
    h1 {
      margin-top: 1em;
      color: black;
      padding: 0 20px;
      @include desktop {
        padding: 0;
      }
      &:first-of-type {
        margin-top: 3em;
      }
    }
    p {
      margin-left: auto;
      margin-right: auto;
      text-align: left;
      max-width: 1000px;
    }

    //css for forms
    .gform_wrapper {
      .top_label input.medium {
        width: 100%;
      }
      .top_label input.datepicker {
        width: 40%;
      }
      .gform_heading {
        text-align: center;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        .gform_title {
          font-size: 24px;
          color: black;
          padding-bottom: 20px;
        }
      }
      .gform_body {
        background-color: $color__yellow-brand;
        ul {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 570px;
          margin-left: auto!important;
          margin-right: auto!important;
          padding-top: 40px;
        }
      }
      .gform_footer {
        background-color: $color__yellow-brand;
        margin: 0;
        padding-bottom: 40px;
        .gform_button {
          margin-left: 737px;
          background-color: $color__blue-brand;
          color: white;
          font-size: 14px;
          text-transform: uppercase;
          border-radius: 5px;
          box-shadow: none;
          text-shadow: none;
          padding: 10px 50px;
          border: 0;
          &:hover {
            background-color: darken($color__blue-brand, 10%);
          }
        }
      }
      .gfield_radio {
        padding: 0;
        margin-top: 0;
      }
      .gfield_calculation {
        display: none;
      }
      .top_label .gfield_time_ampm {
        margin-top: 15px;
      }
      .field_description_below .gfield_description {
        padding-top: 5px;
      }
    }

    //grid layout for hire us page
    .hire-us-grid {
      display: flex;
      flex-wrap: wrap;
      .flickity-viewport {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      }
      .hire-us-part {
        border: 1px solid $color__grey-border;
        border-radius: 4px;
        width: 95%;
        margin: 2% 1%;
        padding: 0 20px;
        @include desktop {
          width: 48%;
          margin: 2% 0;
          &:nth-of-type(odd) {
            margin-right: 2%;
          }
          &:nth-of-type(even) {
            margin-left: 2%;
          }
        }
        h2 {
          text-align: left;
          &::before {
            content: '\f068';
            font-family: FontAwesome;
            color: $color__lightblue-brand;
            padding-right: 10px;
          }
        }
        h3 {
          text-align: left;
          margin: 0;
          font-size: 16px;
        }
        ul {
          padding: 0 20px 20px 0;
          margin: 0;
          display: flex;
          flex-wrap: wrap;
          li {
            width: 100%;
            text-align: left;
            list-style-type: none;
            @include desktop {
              width: 50%;
            }
            &::before {
              content: '\f068';
              font-family: FontAwesome;
              color: $color__lightblue-brand;
              padding-right: 10px;
            }
          }
        }
      }
    }

    //business widget area for hire us page
    .business-widget {
      width: 100%;
      background-color: $color__yellow-brand;
      padding: 20px 10px;
      margin-top: 50px;
      @include desktop {
        background: url("../../assets/images/yellow-wave-banner-background.png");
        padding: 45px;
        margin-top: 0;
      }
      .business-grid {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        @include desktop {
          background-color: rgba(255,255,255, 0.8);
          flex-direction: row;
          padding: 30px;
        }
        h1 {
          width: 100%;
          margin: 0;
          padding-top: 0;
        }
        .business-grid-part {
          width: 100%;
          padding: 0;
          @include desktop {
            width: 50%;
            padding: 0 20px;
          }
          p {
            margin-bottom: 0;
          }
          .article-source {
            display: flex;
            p {
              margin: 0;
              padding-right: 20px;
              &::before {
                content: "-";
                padding-right: 5px;
              }
            }
            a {
              color: $color__blue-brand;
              text-transform: uppercase;
              text-decoration: none;
              @include desktop {
                color: black;
                text-decoration: underline;
                text-transform: none;
              }
              &:hover {
                color: $color__blue-brand;
              }
            }
          }
        }
      }
    }

    //companies we've worked with section on hire us page
    .company-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 20px 0;
      img {
        width: 162px;
        height: 162px;
        border-radius: 50%;
        border: 2px solid $color__blue-brand;
        margin: 0 10px;
      }
    }


    //testimonails section on hire us page
    .testimonial-widget {
      padding: 20px;
      background-color: $color__yellow-brand;
      @include desktop {
        background: url("../../assets/images/yellow-wave-banner-background.png");
        padding: 45px;
      }
      .flickity-viewport {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      }
      .testimonial-grid {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 0 0 20px 0;
        @include desktop {
          background-color: rgba(255,255,255, 0.8);
          padding: 20px;
        }
        
        h1 {
          margin: 0;
          padding-bottom: 10px;
          width: 100%;
          @include desktop {
            padding: 0;
          }
        }
        .testimonial-carousel-container {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          background-color: rgba(255,255,255, 0.8);
          border-radius: 4px;
          border: 1px solid $color__grey-border;
          @include desktop {
            background: none;
            border-radius: 0;
            border: none;
          }
        }
        .testimonial-grid-part {
          width: 100%;
          display: flex;
          flex-direction: column;
          margin: 1%;
          padding: 10px 0;
          @include desktop {
            padding: 0;
            width: 48%;
            flex-direction: row;
          }

          img {
            width: 125px;
            height: 125px;
            border-radius: 50%;
            margin-left: auto;
            margin-right: auto;
            @include desktop {
              margin: 0;
              width: 150px;
              height: 150px;
            }
          }
          .testimonial-source {
            display: flex;
            flex-wrap: wrap;
            font-weight: bold;
            padding-right: 10px;
            @include desktop {
              padding: 0;
            }
            p {
              margin: 0;
              padding: 0;
            }
            &::before {
              content: '\f068';
              font-family: FontAwesome;
              color: $color__lightblue-brand;
              padding-right: 10px;
              padding-left: 20px;
            }
          }
          p {
            padding: 10px;
            margin: 0;
            @include desktop {
              padding: 0;
              padding-left: 20px;
            }
          }
        }
      }
    }

    //studio rooms grid on book studio page
    .studio-grid {
      display: flex;

      .studio-grid-part {
        width: 33%;
        border: 1px solid $color__lightgrey-border;
        border-radius: 5px;
        margin: 20px;
        padding: 15px;
        img {
          height: 200px;
          width: 350px;
          object-fit: cover;
        }
      }
      .studio-information {
        display: flex;
        justify-content: space-between;
        p {
          margin: 0;
          margin-top: 1em;
        }
      }
      .studio-category {
        font-weight: bold;
      }
      .studio-category-note {
        font-weight: bold;
        color: $color__red-brand;
      }
      .size-details {
        p {
          margin: 0;
        }
      }
      p {
        margin-bottom: 0;
      }
    }
  }
}