/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Menus */

.main-navigation {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed; // right: 0;
	top: 0;
	width: 100%;
	height: 60px;
	background-color: $color__yellow-brand;
	z-index: 10;
	@include desktop {
		max-width: $desktop_break;
	}
	.home-banner-clickables {
		display: block;
	}
	.desktop-rocket-logo {
		position: absolute;
		z-index: 1;
	}
	.circular-rocket-logo {
		display: none;
	}
	a {
		max-width: 150px;
	}
	.search {
		background-color: $color__yellow-brand;
		position: relative;
		margin-right: 30px;
		margin-top: 10px;
		.hamburger-toggle-button {
			font-size: 20px;
			cursor: pointer;
			margin-right: 150px;
		}
		#hamburger-search {
			position: absolute;
			background: #fff;
			border: 1px solid gray;
			outline: none;
			border: none;
			z-index: 1;
			right: 0px;
			width: 50%;
			top: 0;
		}
		#search-button {
			position: absolute;
			box-shadow: none;
			border: none;
			background: none;
			outline: none;
			font-size: 20px;
			top: 0;
			right: 0;
			z-index: 2;
			padding: 5px;
			svg {
				font-size: 20px;
			}
		}
	} // .hamburger-toggle{
	// 	display: none;
	// }
	#toggle-button {
		position: fixed;
		left: 0;
		display: none;
	}
	.hamburger-toggle {
		cursor: pointer;
		display: block;
		height: 35px;
		font-size: 20px;
		margin-left: 45%;
		width: 35px;
		position: absolute;
	}
	nav {
		.toggle-menu-wrapper {
			visibility: hidden;
		}
	}
	.toggle-menu-wrapper {
		display: block;
		background-color: $color__yellow-brand;
		list-style-type: none;
		opacity: 0;
		text-align: center;
		transition: all 1s ease;
		width: 85%;
		visibility: hidden;
		transform: translateX(300px);
		ul {
			display: none;
			list-style: none;
			li {
				a {
					color: black;
					position: relative;
				}
			}
			a {
				color: $color__yellow-brand;
				text-decoration: none;
				transition: all .5s ease;
				&:hover {
					color: darken 10%;
				}
			}
		}
		li.selector-nav {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			font-size: 1.5em;
			padding: 10px; // background-color: $color__yellow-brand;
			a {
				color: black;
				display: block;
			}
			.sub-menu {
				// display: block;
				font-size: 20px;
				padding: 0;
				white-space: nowrap;
				text-align: left;
			}
		} //li.selector-nav
		#primary-menu {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			background-color: $color__yellow-brand;
			list-style-type: none;
			transition: all 1s ease;
			width: 90%;
			position: absolute;
			padding-top: 50px;
			padding-right: 50px;
			right: 0;
			.selector-nav {
				position: relative;
				&::after {
					font-family: FontAwesome;
					content: "\f105";
					font-weight: bold;
					font-size: 30px;
					color: red;
					position: absolute;
					right: -20px;
				}
			}
		}
	} //toggle-menu-wrapper
	.menu-toggle:checked~.toggle-menu-wrapper {
		opacity: 1;
		transform: translateX(0);
		position: absolute;
		top: 0;
		right: 0;
		visibility: visible;
		display: flex;
		flex-direction: column;
		height: 100vh;
		z-index: 9;
		.search {
			order: 1;
		}
		.menu-main-nav-container {
			order: 2;
			height: 500px;
		}
		.social-media-links {
			order: 3;
			font-size: 30px;
		}
	}
} //main nav
@media screen and (min-width: 481px) {
	.front-page {
		.main-navigation {
			position: relative;
			height: 300px;
			max-width: 1440px;
			background-image: url("../../assets/images/yellow-wave-banner-background.png");
			display: flex;
			justify-content: space-between;
			transition: .5s;
			z-index: 10;
			a {
				position: relative;
			}
			.selector-nav {
				display: block;
				color: black;
			}
			.home-banner-clickables {
				display: flex;
				#desktop-search-button {
					box-shadow: none;
					border: none;
					background: transparent;
					font-size: 1.5em;
					padding-top: 0px;
				}
				ul {
					list-style: none;
					display: flex;
					justify-content: space-between;
					margin: 0;
					margin-right: 15px;
					position: absolute;
					bottom: 0;
					right: 0;
					input {
						outline: none;
						padding: 0;
					}
					button {
						padding-left: 5px;
						padding-right: 5px;
						outline: none;
					}
					li {
						padding-left: 5px;
						padding-right: 5px;
					}
					a {
						color: #000;
						font-size: 25px;
					}
				}
			}
			.desktop-rocket-logo {
				display: none;
			}
			.circular-rocket-logo {
				display: block;
				margin-left: 75px;
				bottom: 0;
				max-width: 300px;
				width: 50%;
				margin-top: 75px;
				z-index: 2;
			}
			.toggle-menu-wrapper {
				display: flex;
				width: 100%;
				height: 60px;
				transform: none;
				position: absolute;
				bottom: 0;
				background: transparent;
				#primary-menu {
					padding-left: 150px;
					padding-right: 0px;
					width: 100%;
					li.selector-nav{
						padding: 10px 15px;
						margin-top: 8px;
						font-size: 20px;
						font-weight: bold;
					}
					.sub-menu {
						z-index: 1;
						background: #fff;
						padding-left: 200px;
						margin-top: 40px;
						font-size: 16px;
						height: 40px;
						align-items: center;
					} //sub-menu
				} //primary-menu
				.menu-main-nav-container {
					order: 1;
					height: 60px;
					position: relative;
				}
				.search {
					order: 2;
					background: transparent;
					#hamburger-search {
						width: 35%;
					}
				}
				.social-media-links {
					order: 3;
					z-index: 0;
				}
			}
			.menu-toggle {
				display: none;
			}
			.hamburger-toggle {
				display: none;
			}
		} //main nav (home)
	} //body.home 
	.main-navigation {
		align-items: flex-start;
		z-index: 10;
		.home-banner-clickables {
			display: flex;
		}
		a {
			display: relative;
			left: 0;
		}
		.hamburger-toggle {
			display: none;
		}
		.toggle-menu-wrapper {
			display: flex;
			opacity: 1;
			align-items: center;
			visibility: visible;
			transform: none;
			height: 60px;
			width: 100%;
			position: relative;
			.hamburger-toggle-button {
				display: none;
			}
			li.selector-nav {
				padding: 10px 20px;
			}
			.selector-nav >a:before{
				content: "";
				position: absolute;
				width: 100%;
				height: 2px;
				bottom: 0;
				left: 0;
				background-color: #000;
				visibility: hidden;
				-webkit-transform: scaleX(0);
				transform: scaleX(0);
				-webkit-transition: all 0.3s ease-in-out 0s;
				transition: all 0.3s ease-in-out 0s;
			}
			.selector-nav > a:hover:before {
				visibility: visible;
				-webkit-transform: scaleX(1);
				transform: scaleX(1);
			}			
			.menu-main-nav-container {
				order: 1;
				height: 60px;
				width: 100%;
				position: relative;
			}
			.search {
				order: 2;
				position: absolute;
				right: 0;
				width: 40%;
				margin-right: 100px;
				margin-top: 5px;
				height: 40px;
				#search-button {
					padding: 0px;
					padding-top: 5px;
					margin-right: 5px;
				}
			}
			.social-media-links {
				order: 3;
				position: absolute;
				right: 0;
				z-index: 0;
				font-size: 20px;
				a {
					padding: 5px;
				}
			}
			#primary-menu {
				display: flex;
				flex-direction: row;
				justify-content: center;
				padding: 0 300px;
				padding-right: 450px;
				background-color: transparent;
				width: 100%;
				height: 100%;
				left: 0;
				margin: 0;
				.selector-nav {
					position: static;
					font-family: "Roboto";
					text-transform: uppercase;
					&::after {
						content: none;
					}
				}
				.sub-menu {
					width: 100%;
					margin-top: 50px;
					margin-left: 0px;
					background: #fff;
					// display: flex;
					justify-content: center;
					position: absolute;
					left: 0;
					text-transform: capitalize;
					background:#fff;
					li {
						padding: 0 20px;
					}
				}
			}
		}
	} //main nav media min width 480px
}