/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Menus */

	.main-navigation{
		display: flex;
		justify-content: center;
		align-items: center;
		position: fixed;
		right: 0;
		top: 0;
		min-width: 100%;
		height: 60px;
		background-color: $color__yellow-brand;

		a{
			max-width: 150px;
			position: absolute;
		}


	.search{
		background-color: $color__yellow-brand;
		position: relative;
		margin-right:30px;
		margin-top: 10px;
		#hamburger-search{
			position: absolute;
			background: #fff;
			border: 1px solid gray;
			outline: none;
			border: none;
			z-index: 1;
			right: 0px;
			width: 50%;
			top: 0;
		}
		#search-button{
			position: absolute;
			box-shadow: none;
			border: none;
			background: none;
			outline: none;
			top: 0;
			right: 0;
			z-index: 2;
			padding: 5px;
			svg{
				font-size: 20px;
			}
		}
	}

	.hamburger-toggle{
		display: none;
	}

	#toggle-button{
		position: fixed;
		left: 0;
		// display: none;
	}

.hamburger-toggle{
	cursor: pointer;
	display: block;
	height: 35px;
	margin-top: 0.5em;
	margin-left: 45%;
	width: 35px;
	position: absolute;
}
	
 nav {
	 .toggle-menu-wrapper{
		 visibility: hidden;
	 }
	}

	.toggle-menu-wrapper {
		display: block;
		background-color: $color__yellow-brand;
		list-style-type: none;
		opacity: 0;
		text-align: center;
		transition: all 1s ease;
		width: 100%;
		visibility: hidden;
		transform: translateX(300px);
		ul {	
			list-style: none;
			a {
				color: $color__yellow-brand;
				text-decoration: none;
				transition: all .5s ease;
	
				&:hover {color: darken 10%;}
			}
		}
	
		li.selector-nav  {
      display: block;
      font-size: 1.5em;
			padding: 1em 0;
			border: 1px solid red;
			background-color: $color__yellow-brand;
			a{
				color: black;
				display: inline-block;
						}
				.sub-menu {
					display: none;
					li {				
						a{
						font-size: 20px;
						display: inline-block;
					}
				}
			}//.submenu
			}//li.selector-nav
				#primary-menu{
					display: block;
					background-color: $color__yellow-brand;
					list-style-type: none;
					text-align: center;
					transition: all 1s ease;
					width: 90%;
					height: 100vh;
					position: absolute;
					right: 0;
					padding-top: 50px;
			}
	 }//toggle-menu-wrapper

	 .menu-toggle:checked ~ .toggle-menu-wrapper {
		opacity: 1;
		transform: translateX(0);
		position: absolute;
		top:0;
		// height:50vh;
		visibility: visible;
}
}//main nav





@media screen and (min-width: 1240px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		width: 50%;
	}

	.nav-next {
		text-align: right;
		width: 50%;
	}
}
