/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Menus */

	.main-navigation{
		display: flex;
		justify-content: center;
		align-items: center;
		position: fixed;
		// right: 0;
		top: 0;
		width: 100%;
		height: 60px;
		background-color: $color__yellow-brand;

		@include desktop {
			max-width: $desktop_break;
		}

		.home-banner-clickables{
			display: none;
		}

		.circular-rocket-logo{
			display: none;
		}

		a{
			max-width: 150px;
			position: absolute;
		}


	.search{
		background-color: $color__yellow-brand;
		position: relative;
		margin-right:30px;
		margin-top: 10px;

		.hamburger-toggle-button{
			font-size: 20px;
			cursor:pointer;
			margin-right: 150px;
		}
		#hamburger-search{
			position: absolute;
			background: #fff;
			border: 1px solid gray;
			outline: none;
			border: none;
			z-index: 1;
			right: 0px;
			width: 50%;
			top: 0;
		}
		#search-button{
			position: absolute;
			box-shadow: none;
			border: none;
			background: none;
			outline: none;
			font-size: 20px;
			top: 0;
			right: 0;
			z-index: 2;
			padding: 5px;
			svg{
				font-size: 20px;
			}
		}
	}

	// .hamburger-toggle{
	// 	display: none;
	// }

	#toggle-button{
		position: fixed;
		left: 0;
		// display: none;
	}

.hamburger-toggle{
	cursor: pointer;
	display: block;
	height: 35px;
	font-size: 20px;
	margin-left: 45%;
	width: 35px;
	position: absolute;
}
	
 nav {
	 .toggle-menu-wrapper{
		 visibility: hidden;
	 }
	}

	.toggle-menu-wrapper {
		display: block;
		background-color: $color__yellow-brand;
		list-style-type: none;
		opacity: 0;
		text-align: center;
		transition: all 1s ease;
		width: 100%;
		visibility: hidden;
		transform: translateX(300px);
		ul {	
			display: none;
			list-style: none;
			li{
				a{
					color: black;
					position: relative;
				}
			}
			a {
				color: $color__yellow-brand;
				text-decoration: none;
				transition: all .5s ease;
	
				&:hover {color: darken 10%;}
			}
		}
	
		li.selector-nav  {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
      font-size: 1.5em;
			padding: 10px;
			// background-color: $color__yellow-brand;
			a{
				color: black;
				display: block;
						}
			.sub-menu{
				font-size: 20px;
				padding: 0;
				white-space: nowrap;
				text-align: left;
			}
			}//li.selector-nav
				#primary-menu{
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					background-color: $color__yellow-brand;
					list-style-type: none;
					transition: all 1s ease;
					width: 90%;
					height: 100vh;
					position: absolute;
					padding-top: 50px;
					padding-left: 85px;
					padding-right: 50px;
					right: 0;
					// ::after{
					// font-family: FontAwesome;
					// content: "\f105";
					// font-weight: bold;
					// font-size: 30px;
					// color: red;
					// }
			}
	 }//toggle-menu-wrapper

	 .menu-toggle:checked ~ .toggle-menu-wrapper {
		opacity: 1;
		transform: translateX(0);
		position: absolute;
		top:0;
		visibility: visible;
	}
}//main nav





@media screen and (min-width: 481px) {
	body.home{
		.main-navigation{
			position: relative;
			height: 300px;
			max-width: 1440px;
			background-image: url("../../assets/images/yellow-wave-banner-background.png");
			display: flex;
			justify-content: space-between;
			a{
				position: relative;
			}

			.selector-nav{
				display: block;
				color: black;
			}

			.home-banner-clickables{
				display: flex;
				#desktop-search-button{
					box-shadow: none;
					border: none;
					background: transparent;
					font-size: 20px;
				}
				ul{
					list-style: none;
					display: flex;
					justify-content: space-between;
					margin: 0;
					margin-right: 15px;
					position: absolute;
					bottom: 0;
					right: 0;

					input{
						outline: none;
						padding: 0;
					}

					button{
						padding-left: 5px;
						padding-right: 5px;
						outline: none;
					}
					li{
						padding-left: 5px;
						padding-right: 5px;
					}
					a{
						color: #000;
						font-size: 25px;
					}
				}
			}

		.desktop-rocket-logo{
			display: none;
		}
		.circular-rocket-logo{
			display: block;
			margin-left: 75px;
			bottom: 0;
			max-width: 300px;
			width: 50%;
			margin-top: 100px;
		}
		.toggle-menu-wrapper{
			display: none;
			width: 100vw;
			height: 60px;
			transform: none;
		}

		.menu-toggle{
			display: none;
		}
		.hamburger-toggle{
			display: none;
		}

		.search{
			display: none;
			}
		}//main nav (home)
	}//body.home 

	.main-navigation{
		align-items: flex-start;
		a{
			display: relative;
			left: 0;
		}
		.hamburger-toggle{
			display: none;
		}
		.toggle-menu-wrapper{
			opacity: 1;
			visibility: visible;
			transform: none;
			li.selector-nav{
				padding: 10px 20px;
				width: 20%;
			}
			#primary-menu{
				display: flex;
				flex-direction: row;
				justify-content: center;
				width: 100%;
				padding: 0;
				background-color: transparent;
				.sub-menu{
					width: 60vw;
					margin-top: 20px;
					background: #fff;
					display: flex;
					justify-content: space-around;
				}
			}
		}
		.search{
			display: none;
		}
	}//main nav media min width 480px
}	


