/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.site-content {
  max-width: 1240px;
  margin: 0 auto;
}

.carousel-cell {
  margin-top: 3.75rem;
  width: 1240px;
  height: 500px;
  background-color: gray;
}

.upcoming-shows,
.upcoming-classes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.show-wrapper,
.class-wrapper {
  width: 380px;
  height: 395px;
  background-color: gray;
  margin-bottom: 2rem;
}

.what-is-improv {
  margin-top: 3.75rem;
  max-width: 1240px;
  padding: 0rem;
  background: url("../../assets/images/yellow-wave-banner-background.png");
  text-align: center;
  .what-is-improv-containor {
    h2 {
      margin-top: 0;
    }
    padding: 3rem;
    background: $color__yellow-brand;
  }
  .improv-button-set{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
}

.instagram-feed{
  width: 100%;
  height: 300px;
}

@media screen and (min-width: $mobile_break) {
  .what-is-improv {
    padding: 2rem;
    .what-is-improv-containor {
      background: rgba(255, 255, 255, 0.8);
    }
    .improv-button-set{
      margin: 0 auto;
      width: 40%;
      flex-direction: row;
      justify-content: space-around;
    }
  }
}