/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Taxonomy Role */
.person-gallery {
  max-width: 1240px;
  display: flex;
  flex-wrap: wrap;
}

.person-tile {
  width: 265px;
  height: 300px;
  margin: 1.25% 0.5rem;
  border-radius: 4px;
  box-shadow: 0px 0px 8px #D5D5D5;
  color: #fff; 

  a {
    height: 100%;
    width: 100%;
  }

  .person-image-wrapper {
    position: relative;
    width: 235px;
    height: 235px;
    margin: 15px auto;
    border-radius: 4px;
    overflow: hidden;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-height: 100%;
      width: auto;
      max-width: none;

    }
  }

  .person-tile-label {
    padding: 0.5rem;
    margin: 0;
    color: #000;
    text-align: center;
  }


}