.single-tribe_events {
  .entry-content {
    h1 {
      text-align: center;
      margin: 20px;
      text-transform: uppercase;
      @include desktop {
        font-size: 2em;
      }
    }

    .show-page-container {
      @include desktop {
        width: 45%;
      }
    }

    .show-page-container .tribe-events-single-section {
      @include desktop {
        display: none;

      }
    }

    .tribe-events-event-image {
      text-align: center;
      margin: 0;
      img {
        width: 1240px;
      }
    }

    .tribe_events {
      margin: 20px 0;
      text-align: center;
      @include desktop {
        display: block;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
      }
      .tribe-events-content {
        margin-top: 20px;
        text-align: left;
      }

      .buy-tickets-link-wrapper {
        @include desktop {
          width: 50%;
          height: 30px;
          text-align: left;
          order: -1;
        }
      }
    }

    .tribe-events-start-time {
      display: flex;
      align-items: center;
    }

    #tribe-events .tribe-events-cal-links {
      text-align: left;
      margin: 2% 5px;
      display: flex;
      @include desktop {
        margin: 0;
        margin-top: 7px;
        width: 400px;
        height: 37px;
      }
      a {
        background-color: $color__blue-brand;
        width: 50%;
        padding: 15px 0;
        border-radius: 20px;
        @include desktop {
          padding: 10px 20px;
          // width: 100%;
        }
        &:hover {
          background-color: darken($color__blue-brand, 10%);
        }
        &.tribe-events-button {
          display: block;
          margin: 0 5px;
        } 
      }
    }

    .tribe-event-tags {
      display: flex;
      flex-wrap: wrap;
      max-width: 100%;
      a {
        padding: 5px 10px;
        border: 1px solid $color__grey-border;
        border-radius: 4px;
        margin: 0 5px 10px 5px;
        &:hover {
          background-color: $color__blue-brand;
          border-color: $color__blue-brand;
          color: white;
        }
      }
    }

    .tribe-venue {
      display: flex;
    }

    .url {
      display: flex;
      align-items: center;
      a {
        color: $color__blue-brand;
        &:hover {
          color: darken($color__blue-brand, 10%);
        }
      }
    }

    .events-tags {
      display: flex;
      align-items: flex-start;
    }

    .show-meta-logo {
      min-width: 20px;
      margin: 0 10px 0 0;
    }

    .show-details-date {
      display: flex;
      align-items: center;
    }
    abbr[title] {
      text-decoration: none;
    }
   }
}


//red buy tickets button
.buy-tickets-button {
  background-color: $color__red-brand;
  padding: 10px 30px;
  border-radius: 4px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  &:link,
  &:visited {
    color: white; 
  }
  &:hover {
    background-color: darken($color__red-brand, 10%);
  }
}

.tribe-events-meta-group {
  .buy-tickets-link-wrapper {
    @include desktop {
      margin-bottom: 10px;
    }
  }
}

.shows-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  li {
    margin: 20px 0;
    padding: 10px;
    width: 30%;
    border: 1px solid $color__lightgrey-border;
    border-radius: 4px;
    list-style-type: none;
  }
}

//css for displaying events in grid view
ul.tribe-events-grid-view {
  margin: 0;
  padding: 0;
  @include desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .people-content-info{
    display: none;
  }
  li {
    display: flex;
    flex-direction: column;
    border: 1px solid $color__lightgrey-border;
    width: 95%;
    padding: 10px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    @include desktop {
      width: 31%;
    }
    .tribe-events-grid-thumbnail {
      width: 100%;
    }
    h3 {
      text-align: left;
      margin: 5px 0;
      font-weight: bold;
      font-size: 16px;
    }
    .tribe-related-event-info {
      text-align: left;
      margin: 10px 0;
      width: 100%;
      h3 {
        font-size: 16px;
      }
    }
    .related-events-links {
      text-align: left;
      margin: 20px 0;
    }
    a.learn-more-link {
      margin-left: 20px;
      text-decoration: underline!important;
      &:hover {
        color: $color__blue-brand;
      }
    }
    .related-events-venue-info {
      text-align: left;
    }
    p {
      margin: 5px 0;
    }

    .tribe-events-related-events-title {
      text-align: left;
      margin-left: 10px;
    }
  }
  .type-post_people{
    .show-item{
    .tribe-events-grid-thumbnail{
      img{
        width: 100%;
      }
    }
    .people-content-info{
      display: block;
    }
      .related-events-time-info{
        display: none;
      }
      .related-events-venue-info{
        display: none;
      }
      .related-events-links{
        a{
          margin-left: 0;
        }
        .buy-tickets-button{
          display: none;
        }
      }
    }
  }
}

//overriding styles for events single page meta area
.tribe-events-event-meta .column, .tribe-events-event-meta .tribe-events-meta-group-details {
  @include desktop {
    width: 100%;
    padding-top: 30px;
    margin-bottom: 0;
  }
}

.tribe-events-event-meta address.tribe-events-address, .tribe-events-list .tribe-events-venue-details {
  @include desktop {
    font-style: normal;
  }
}

.tribe-events-event-meta .tribe-events-meta-group-venue {
  @include desktop {
    width: 100%;
  }
}

.tribe-events-day-time-slot {
  padding: 0 10px;
  @include desktop {
    padding: 0;
  }
}

.tribe-events-loop .tribe-events-event-meta {
  background-color: white;
  border: 0;
  padding-bottom: 0;
  @include desktop {
    background: transparent;
  }
  .tribe-events-venue-details {
    padding: 0;
    border: 0;
  }
}

.tribe-events-day-time-slot .time-details {
  padding: 0;
}

//overriding styling of single day list view of events
.events-archive .entry-content, .events-archive .entry-header {
  width: 100%;
}

//styling for shows list/calendar view
 #calendar-area {
   border-radius: 4px;
   padding: 15px;
   @include desktop {
    border: 1px solid $color__lightgrey-border;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    background-color: white;
   }
   .shows-calendar-date-area {
     width: 25%;
     display: none;
     @include desktop {
       display: block;
     }
   }
   .shows-taxonomy-filter-area {
     position: fixed;
     width: 100%; 
     height: 100%;
     top: 0; 
     left: 0;
     right: 0;
     bottom: 0;
     background-color: white;
     z-index: 100;
     display: none;
     @include desktop {
       width: 70%; 
       display: block;
       position: static;
       height: inherit;
       background-color: transparent;
     }
     .filter-shows-group {
        display: block;
        @include desktop {
          display: flex;
          flex-wrap: wrap;
        }
        .filter-btn {
          width: 45%;
          margin: 2.5%;
          @include desktop {
            margin: 0.5rem;
            width: 10.5rem;
          }
          &:hover {
            background-color: $color__blue-brand;
            text-shadow: none;
          }
          &.selected {
            background-color: $color__blue-brand;
          }
          &:focus {
            outline: 0;
            background-color: $color__blue-brand;
            color: white;
            text-shadow: none;
          }
        }
        h3 {
          margin-left: 5%;
          @include desktop {
            width: 100%;
            margin: 0;
          }
        }
        .show-all-container {
          width: 100%;
          text-align: center;
          @include desktop {
            text-align: left;
          }
        }
     }

     .done-button {
       font-size: 16px;
       text-transform: none;
       outline: 0;
       position: absolute;
       bottom: 30px;
       right: 10px;
       background-color: transparent;
       border: 0;
       color: $color__blue-brand;
       @include desktop {
         display: none;
       }
     }

     .genre-buttons {
      display: flex; 
      flex-wrap: wrap;
      @include desktop {
        display: block;
      }
    }

   }

   .mobile-filter-area {
     width: 100%;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     @include desktop {
       display: none;
     }
     .mobile-filter-button {
       background-color: $color__blue-brand;
       border: 0;
       border-radius: 4px;
       color: white;
       text-shadow: none;
       width: 48%;
       margin: 1%;
       padding: 15px 0;
     }
     h2 {
       width: 100%;
       text-align: left;
     }
   }

   .mobile-shows-calendar-date-area {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 100;
    @include desktop {
      display: none;
    }

    #shows-calendar {
      margin-left: auto;
      margin-right: auto;
      width: 80%;
      height: 300px;
    }

    p {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
   }

   .close-row {
     background-color: $color__yellow-brand;
     padding: 10px 0;
     text-align: left;
     button {
       background-color: transparent;
       border: 0;
       font-size: 25px;
       font-weight: bold;
       outline: 0;
     }
     @include desktop {
      display: none;
    }
   }

   .genre-buttons {
     @include desktop {
      width: 100%;
      text-align: left;
     }
   }
   h3 {
     text-align: left;
     margin: 10px 0;
   }
   .widget-title {
     display: none;
   }
   table {
     margin: 0;
     border: 1px solid $color__lightgrey-border;
   }
    .tribe-mini-calendar-wrapper {
      .tribe-mini-calendar {
        line-height: 1.6;
        @include desktop {
          line-height: 1.5;
        }
      }
      .tribe-mini-calendar-nav {
        td {
          padding: 5px 0;
          background: $color__yellow-brand;
          border-color: $color__yellow-brand;
        }
        span {
          color: black;
          text-transform: none;
        }
        a.tribe-mini-calendar-nav-link {
          span {
            color: $color__red-brand;
          }
          &:visited {
            color: $color__red-brand;
          }
        }
      }
      th {
        background-color: $color__yellow-brand;
        border-color: $color__yellow-brand;
        color: black;
      }
      tbody {
        td {
          background-color: white;
          border: 0;
          a {
            color: black;
          }
          .tribe-mini-calendar-no-event {
            color: black;
          }
        }
      }
   } 

   //overriding calendar's styles for dots underneath events
   .tribe-mini-calendar .tribe-events-has-events div[id*='daynum-'] a:before {
     background-color: $color__blue-brand;
   }

   //overriding hover state for calendar 
   .tribe-mini-calendar td.tribe-events-has-events a:hover {
     background: $color__blue-brand;
   }
 }

 //JUST FOR TESTING REMOVE SOON!
.site-content {
  margin-top: 150px;
}

//isotope css for shows page 
.show-item {
  @include desktop {
    width: 33%;
  }
}

.show-events-page {
  width: 100%!important;
  .show-item {
    margin: 1% 2.5%;
    @include desktop {
      margin: 1% 1.1%;
    }
  }
}

.filter-shows-group {
  display: flex;
}

//styling for day view of shows

#tribe-events-bar {
  display: none;
}

.tribe-events-list .tribe-events-event-image img {
  width: 100%;
}

.tribe-events-list .tribe-events-loop {
  .tribe-events-event-image {
    width: 100%;
    float: none;
  }
  .tribe-events-category-shows, .tribe-events-category-classes {
    text-align: left;
  }
}

.tribe-events-day .tribe-events-day-time-slot h5 {
  background-color: $color__blue-brand;
}

#tribe-events-content .tribe-events-list-event-description {
  a {
    text-decoration: underline;
    &:hover {
      color: $color__blue-brand;
    }
    &::visited {
      color: black;
    }
  }
}

#tribe-events .tribe-events-button {
  display: block;
  background-color: $color__blue-brand;
  border-radius: 50px;
  padding: 10px 30px;
  &:hover {
    background-color: darken($color__blue-brand, 10%);
  }
}

//styling for cast members on show details page

.show-cast-container {
  .show-cast-item {
    width: 100px;
    margin: 0 20px;

    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
    p {
      text-align: center;
    }
  }
}

.mobile-view-hidden {
  display: none;
  @include desktop {
    display: block;
    width: 45%;
  }
}

.desktop-view-hidden {
  @include desktop {
    display: none;
  }
}

//css to hide the link to pass into the jquery function
.website-url-for-javascript-hidden {
  display: none;
}

.social-media-share-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  margin-left: 5px;
  @include desktop {
    text-align: left;
    margin: 0;
  }
  li {
    width: 50px;
    margin: 0 5px;
    &:hover {
      cursor: pointer;
    }
  }
}

.show-page-container {
  @include desktop {
    // display: flex;
    // flex-wrap: wrap;
  }
  .show-cast-container {
    text-align: left;
    @include desktop {
      width: 95%;
      margin-left: 50px;
    }
  }
  h3 {
    text-align: left;
    margin-left: 10px;
    @include desktop {
      margin: 20px 0;
    }
  }
  .flickity-prev-next-button.previous {
    left: -50px;
  }
  .flickity-prev-next-button.next {
    right: -50px;
  }
  .flickity-prev-next-button {
    background: transparent;
    color: $color__red-brand;
    .arrow {
      fill: $color__red-brand;
    }
  }
  .share-links {
    display: flex;
    flex-direction: column;
    @include desktop {
      flex-direction: row;
    }
  }
}


.show-events-page {
  li {
    margin: 0 10%;
  }
}

#tribe-events-content .single-event-description {
  text-align: center;
}

//styling to override paragraph margin on single show page for mobile 
#tribe-events div.tribe-events-single-event-description {
  padding: 0 10px;
  @include desktop {
    padding: 0;
  }
}