/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
}

a {
	color: $color__link;

	&:link {
		color: $color__link;
	}
	&:hover {
		color: $color__link-hover;
	}
	&:active {
		color: $color__link-active;
	}

}

/* Headings */

h1, h2, h3, h4, h5, h6 {
	clear: both;
	text-transform: capitalize;
}

h1 {
	font-size: 1.375rem;
	font-weight: 700;
	
	@include desktop {
    font-size: 1.75rem;
  }
}
h2 {
	font-size: 1.125rem;
	font-weight: 700;
	
	@include desktop {
    font-size: 1.375rem;
  }
}
h3 {
	font-size: 1rem;
	font-weight: 500;
	
	@include desktop {
    font-size: 1.25rem;
  }
}

.featured {
	font-size: 1.375rem;
	font-weight: 700;
	text-transform: uppercase;
	
	@include desktop {
    font-size: 2rem;
  }
}

/* Copy */

p {
	margin-bottom: $base__space-unit;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 $base__space-unit;
}

address {
	margin: 0 0 $base__space-unit;
}

pre {
	background: $color__background-pre;
	font-family: $font__pre;
	@include font-size(0.9375);
	line-height: $font__line-height-pre;
	margin-bottom: 1.6rem;
	max-width: 100%;
	overflow: auto;
	padding: 1.6rem;
}

code, kbd, tt, var {
	font-family: $font__code;
	@include font-size(0.9375);
}

abbr, acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark, ins {
	background: $color__background-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}
