// Structure

$base__space-unit: 1.5rem;

// Colors

$color__background-body: #fff;
$color__text-main: black;

$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__link: black;
$color__link-hover: #333;
$color__link-active: #00B6CB;

$color__yellow-brand: #FFEC00;
$color__red-brand: #ED1651;
$color__blue-brand: #00B6CB;
$color__green-brand: #5bba47;
$color__lightblue-brand: #6AC5D0;

$color__grey-border: #979797;
$color__lightgrey-border: #D5D5D5;

// Typography

$font__main: Roboto, Arial, sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

// Break Points

$mobile_break: 480px;
$desktop__content-area: 1240px;
$desktop_break: 1440px;


//Site background
$site__background: url('../../assets/images/cloud-bkg2.png') top center / cover fixed;
$site__background__rokect: url('../../assets/images/blue-rocket.png') 45% 25% fixed;