/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
	margin: 0 0 $base__space-unit;
	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget. */

.widget_search .search-submit {
	display: none;
}

.site-info {
	background-color: #FEEA1E;
	max-width: 480px;
	min-width: none;
	padding: 2rem;
	margin: 0 auto;
	.widget_custom_html{
		margin: 0;
	}
	h2,
	h3,
	p {
		margin: 0;
		text-align: center;
	}
	.secondary {
		display: flex;
		flex-direction: column-reverse;
		align-items: center; // justify-content: space-between;
		.textwidget,
		p {
			text-align: center;
			font-size: 14px;
		}
		.contact-info {
			width: 161px;
			.social-icons {
				display: flex;
				justify-content: center;
				font-size: 3rem;
				a {
					margin-right: 1rem;
				}
				a:visited {
					color: black;
				}
				a:last-child {
					margin: 0;
				}
			}
		}
		.subscribe {
			max-width: 360px;
			p{
				margin-bottom: 1rem;
			}
		}
	}

	.mc4wp-form-fields {
		display: flex;
		flex-direction: column;
		align-items: center;
		input[type="email"] {
			margin-bottom: 1rem;
			width: 100%;
			height: 50px;
			padding-left: 1.5rem;
			&:focus{
				outline: none;
			}
		}
	}
	.logo-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		.footer__logo-img {
			transform: scaleX(-1);
			width: 40%;
		}
	}
}

@media screen and (min-width: $mobile_break) {
	.site-info {
		max-width: 1440px;
		min-width: 1024px;
		h2,
		h3,
		p {
			margin: 0;
			text-align: left;
		}
		.secondary {
			display: flex;
			flex-direction: row;
			align-items: inherit;
			justify-content: space-between;
			.textwidget,
			p {
				text-align: left;
			}
			.contact-info {
				width: 161px;
				.social-icons {
					justify-content: inherit;
					font-size: 2rem;
				}
			}
			.subscribe {
				width: 380px;
			}
			.our-mission {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				width: 300px;
			}
		}
		.mc4wp-form-fields {
			align-items: flex-start;
			.email-input {
				width: 380px;
			}
		}
		.footer-logo {
			display: flex;
			align-items: center;
			.footer__logo-img {
				transform: scaleX(-1);
				width: 60%;
			}
		}
	}
}